In [4]:
import requests
import pandas as pd
from tqdm import tqdm

In [5]:
base_url = "https://raw.githubusercontent.com/statsbomb/open-data/master/data/"
comp_url = base_url + "matches/{}/{}.json"
match_url = base_url + "events/{}.json"

In [6]:
def parse_data(competition_id,season_id):
    matches = requests.get(url = comp_url.format(competition_id, season_id)).json()
    match_ids = [m['match_id']  for m in matches]
    all_events = []
    for match_id in tqdm(match_ids):
        events = requests.get(url = match_url.format(match_id)).json()
        shots = [x for x in events if x['type']['name'] == "Shot"]
        for s in  shots:
            attributes = {
                "match_id": match_id,
                "team": s["possession_team"]["name"],
                "player": s['player']['name'],
                "x": s['location'][0],
                "y": s['location'][1],
                "outcome": s['shot']['outcome']['name'], 
            }
            all_events.append(attributes)
    return pd.DataFrame(all_events)

In [7]:
competition_id = 43 # World Cup
season_id = 3 # season 2018

In [8]:
df = parse_data(competition_id, season_id)

100%|██████████| 64/64 [01:22<00:00,  1.29s/it]

In [9]:
df.head(15)

    match_id     team                          player      x     y  outcome
0       7581  Denmark   Mathias Jattah-Njie Jørgensen  115.0  34.0     Goal
1       7581  Croatia                 Mario Mandžukić  112.0  36.0     Goal
2       7581  Croatia                    Ivan Perišić  101.0  55.0  Blocked
3       7581  Croatia                    Ivan Perišić  103.0  24.0  Blocked
4       7581  Denmark     Christian Dannemann Eriksen   96.0  37.0  Blocked
5       7581  Denmark  Martin Braithwaite Christensen  111.0  50.0    Saved
6       7581  Croatia                    Ivan Rakitić   94.0  32.0    Saved
7       7581  Croatia                    Ivan Perišić  110.0  32.0  Wayward
8       7581  Croatia                    Ivan Perišić  111.0  34.0    Off T
9       7581  Croatia                      Ante Rebić   97.0  30.0  Blocked
10      7581  Denmark     Christian Dannemann Eriksen   96.0  57.0    Off T
11      7581  Croatia                    Dejan Lovren  115.0  39.0    Off T
12      7581  Croatia                    Ivan Rakitić  104.0  31.0    Saved
13      7581  Croatia                    Ivan Perišić   98.0  62.0    Off T
14      7581  Denmark  Martin Braithwaite Christensen  115.0  52.0    Off T